﻿@using Evernote.Entities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

    <!-- Kullanıcı Giriş Yapmışmı-->
    @{
        EvernoteUser user = null;

        if (Session["login"] != null)
        {
            user = Session["login"] as EvernoteUser;
        }
    }

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">My Evernote</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (user != null)
                    {
                        <li class="dropdown">
                            <a href="/Note/MyNotes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="False">
                                <span class="glyphicon glyphicon-wrench"></span>
                                Yönetim
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Note/AddNew"><span class="glyphicon glyphicon-plus"></span>Not Ekle</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/Note/MyNotes"><span class="glyphicon glyphicon-th-list"></span>Notlarım</a>
                                </li>
                                <li>
                                    <a href="/Note/MyLikedNotes"><span class="glyphicon glyphicon-heart"></span>Beğendiklerim</a>
                                </li>
                                
                                @if(user.IsAdmin){
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/Category/AddNew"><span class="glyphicon glyphicon-plus"></span>Kategori Ekle</a>
                                    </li>
                                    <li>
                                        <a href="/Category/List"><span class="glyphicon glyphicon-th-list"></span>Kategoriler</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="/Home/MostLiked">
                            <span class="glyphicon glyphicon-star"></span>
                            En Beğenilenler
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Index">
                            <span class="glyphicon glyphicon-time"></span>
                            Son Eklenenler
                        </a>
                    </li>
                    <li>
                        <a href="/Home/About">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            About
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (user == null)
                    {
                        <li>
                            <a href="/Home/Login">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Giriş
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Register">
                                <span class="glyphicon glyphicon-user"></span>
                                Uye Ol
                            </a>
                        </li>
                    }
                    else
                    {
                        
                        <li class="dropdown">
                            <a href="/Home/ShowProfile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="False">
                                <span class="glyphicon glyphicon-user"></span>@user.Username
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Home/ShowProfile"><span class="glyphicon glyphicon-user"></span>Profili Göster</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/Home/EditProfile"><span class="glyphicon glyphicon-th-list"></span>Profili Düzenle</a>
                                </li>
                                <li>
                                    <a href="/Home/DeleteProfile" onclick="return confirm('Profilinizi silmek istediğinizden eminmisiniz')">
                                        <span class="glyphicon glyphicon-trash"></span>&nbsp;
                                        Profili Sil
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="/Home/Logout">
                                <span class="glyphicon glyphicon-log-out"></span>
                                Cikis
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <!-- /.container -->
    @RenderBody()

    @RenderSection("footer", required: false)

    <!-- /.container -->
</body>
</html>
