﻿@using Evernote.BusinessLayer
@using Evernote.Entities

@{
    CategoryManager cm = new CategoryManager();
    List<Category> list = cm.GetCategories();
}


<div class="col-md-3">
    <p class="lead">Kategoriler</p>
    <div class="list-group">
        <a href="/Home/Index" class="list-group-item">Tümü</a>
        @foreach (var category in list)
        {
            <a href="/Home/ByCategory/@category.Id" title="@category.Description" class="list-group-item">@category.Title</a>
        }       
    </div>
</div>