﻿<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4>
                    <strong>Site Haritasi</strong>
                </h4>
                <p>
                    <a href="#">İmperdiet dolor</a><br />
                    <a href="#">Est dolore</a><br />
                    <a href="#">Sea amet</a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>
                    <strong>MyEvernote</strong>
                </h4>
                <p>Tüm Hakları Saklıdır &copy; MyEvernote @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>
                    <strong>E-Bülten Uyeligi</strong>
                </h4>
                <div class="col-md-10 col-md-offset-1">
                    <p>
                        Ut dolor dolor takimata nobis id ea et dolor consetetur
                    </p>
                    <div class="input-group">
                        <input type="text" placeholder="e-posta adresiniz" class="form-control" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-send"></span>
                                Gönder
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
