﻿@model Evernote.WebUI.ViewModels.InfoViewModel

@{
    ViewBag.Title = Model.Title;
}

<link href="~/Content/Login-Register.css" rel="stylesheet" />n



<section class="login-info">
    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center ">@Model.Header </h1>
            </div>
            <div class="main-content">
                <div class="text-info">
                    <h2><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp;@Model.Title</h2>
                    <hr />
                    <p class="text-justify">
                        @foreach (string i in Model.Items)
                        {
                            @i<br>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@{
    string js = string.Empty;
    if (Model.isRedirecting)
    {
        js = "setTimeout(function () {window.location = '" + Model.RedirectUrl + "';}, " + Model.RedirectingTimeout + ");";
    }
}

<script>

    $(function () {
        @Html.Raw(js);
    });

</script>

