﻿@{
    ViewBag.Title = "About";
}


<div class="container">
    <div class="row">
        @Html.Partial("_PartialCategories")
        <div class="col-md-9">
            <div class="row">
                <h2>İpsum ut amet et no</h2>
            </div>
            <hr/>
            <img src="http://placehold.it/500x200" class="center-block img-responsive img-rounded img-thumbnail"></img>
            <hr/>
            <p>No illum gubergren rebum ad tincidunt et esse no feugiat nostrud velit dolore gubergren ipsum stet facer et liber sit labore dolores luptatum aliquip eum at esse duis in veniam laoreet sit dolor accusam invidunt</p>
            <p>No lobortis takimata ut erat vulputate elitr ipsum consetetur laoreet diam duo accumsan amet rebum nibh duis augue ea euismod mazim ipsum feugiat ut et invidunt voluptua gubergren euismod sed et aliquyam quis at no</p>
            <p>Vero et labore voluptua erat te duo et sed cum et rebum lorem euismod nonumy voluptua at dolor ea rebum vero erat diam augue tempor duo voluptua nonumy ipsum luptatum ipsum sea eleifend option nostrud</p>
            <p>Sadipscing wisi tempor suscipit rebum magna rebum ex clita duo et dolor in facer ea sed et te eum sea amet diam est amet kasd dolor vel ut sit ullamcorper rebum vel vero dolores erat</p>
            <p>Sed eirmod vero amet et iriure augue diam ipsum est dolores ea elit nonumy justo duis dolore et placerat lorem et kasd tempor autem ipsum diam augue eirmod at justo sea diam accumsan eros nisl</p>
        </div>
    </div>
</div>

@section footer{
    @Html.Partial("_PartialFooter")
}
