﻿@using Evernote.Entities
@model List<Note>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        @Html.Partial("_PartialCategories")
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (Note note in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="@note.Title">
                            <div class="caption">
                                <h4>
                                    <a href="#">@note.Title</a>
                                </h4>

                                @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 60)
                                {
                                    <p> @(note.Text.Substring(0, 60) + "...") </p>
                                   
                                }
                                else
                                {
                                    <p> @note.Text </p>
                                }
                                <div>                                 
                                    @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 60)
                                    {
                                        
                                        <a href="#" class="btn btn-sm btn-primary">Devamı</a>
                                        
                                        <h6 class="pull-right">
                                            <span class="glyphicon glyphicon-time"> @note.ModifiedOn.ToShortDateString()</span><br />
                                            <span class="glyphicon glyphicon-user"> @note.Owner.Username</span>
                                        </h6>
                                                                        
                                    }
                                    else
                                    {
                                        <h6 class="pull-right">
                                            <span class="glyphicon glyphicon-time"> @note.ModifiedOn.ToShortDateString()</span><br />
                                            <span class="glyphicon glyphicon-user"> @note.Owner.Username</span>
                                        </h6>
                                    }
                                    
                                </div>
                            </div>
                            <div class="ratings">
                                <button class="btn btn-default btn-sm pull-right" type="button">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Yorumlar
                                </button>
                                <p>
                                    <button class="btn btn-default btn-sm" type="button">
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        @note.LikeCount
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section footer{
    @Html.Partial("_PartialFooter")
}