﻿@model Evernote.Entities.ValueObjects.LoginViewModel


@{
    ViewBag.Title = "Login";
}
<link href="~/Content/Login-Register.css" rel="stylesheet" />
<link href="~/Content/validation.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <section class="login-info">
        <div class="container">
            <div class="row main">
                <div class="form-header">
                    <h1 class="text-center ">login form </h1>
                </div>
                <div class="main-content">
                    
                    @Html.ValidationSummary(false)
                    
                    @if (ViewBag.SetLink != null)
                    {
                        <a href="@ViewBag.SetLink" class="btn btn-primary">Activate</a>
                    }

                    <div class="input-group ">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(model => model.UserName, htmlAttributes: new {@class = "form-control", placeholder = "Kullanıcı Adınız.."})
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(model => model.Password, htmlAttributes: new {@class = "form-control", placeholder = "Şifreniz..", type = "password"})
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-danger btn-lg btn-block login-button">Giris</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
